@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Inconsolata:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@1,700&family=Inconsolata:wght@900&family=Roboto+Condensed&display=swap');
html {
  background-color: rgb(160, 160, 160, 0.5);
}
h1 {
  text-align: center;
  font-family: 'Inconsolata', monospace;
  font-size: 64px;
}
a:link, a:visited {
  color: black;
  text-decoration: none;
  cursor: context-menu;
}
a:link:active, a:visited:active {
  color: black;
}
h2 {
  text-align: center;
  font-size: 46px
}
p {
  text-align: left;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 400px;
  margin-left: 100px;
}
div {
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
button {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: transparent;
  border-style: none;
  color: white;
  font-size: 32px;
  padding: 5px 175px 5px 175px;
}
img {
  position: relative;
  float: right;
  margin-right: 50px;
  margin-bottom: 20px
}
